# Core functionality - changes here should be rare!
/src/app.py                   @0xaiman
/src/backend/database.py      @0xaiman
/src/backend/routers/auth.py  @0xaiman

# The frontend will need refactored soon to be more object oriented.
/src/static/   @0xaiman
